.card-cont{
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

.card-cont::selection{
    display: none;
}


.slide-hold{
    width: 450px;
    overflow: hidden;
}

.slide{
    width: 1345px;
    z-index: 11;
    transition: 1s;
}

.card-cont button{
    cursor: pointer;
    background-color: rgb(148 148 148 / 61%);
    box-shadow: none;
    color: white;
    font-weight: bolder;
    padding: 7px;
    border-radius: 50%;
    font-size: 30px;
}

.small-cont{
    border-radius: 10px;
    width: 450px;
    height: 213px;
    background-color: #c1bdb8d9;
    padding: 15px 10px 0px 20px;
    margin: 10px;
    box-shadow: 0 0 4px #0000003d;
    text-align: left;

}

.parts img{
    height: 160px;
    width:540px;
}

.parts p{
    margin: -3px 14px 4px 14px;
    font-size: 12px;
}

.parts h4{
    font-weight: 700;
    font-size: 18px;
}

.parts h6{
    padding: 6px 12px 0px 12px;
}